@import url("https://fonts.googleapis.com/css2mbfamily=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: auto !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 98%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 96%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 100%;
  }
}

button {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.f400 {
  font-weight: 400;
}

.f500 {
  font-weight: 500;
}

.textColor {
  color: #6b7280;
}

.textColor2 {
  color: #d1d5db;
}

.textColor3 {
  color: #111827;
}

.f600 {
  font-weight: 600;
}

.f800 {
  font-weight: 800;
}

.f900 {
  font-weight: 900;
}

.themeBlue {
  color: #ff8811 !important;
}

.f24 {
  font-size: 1.5rem;
}

.f14 {
  font-size: 0.875rem;
}

.f48 {
  font-size: 3rem;
}

.mb6 {
  margin-bottom: 6px;
}

hr {
  color: #374151;
  padding: 1px;
}

.redColor {
  color: #ff5555;
  font-size: 12px;
}

.themeColor {
  color: #374151;
}

.pointer {
  cursor: pointer;
}

a:hover,
a:hover {
  color: #6b7280;
}

.header_container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: #fff;
  width: 100%;
  height: 64px;
  z-index: 4;
}

.header_container ul li {
  font-size: 0.875rem;
  line-height: 17px;
  margin-right: 40px;
}

.header_container ul li a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header_container ul li a:hover {
  color: #ff8811;
}

.header_container button {
  background: #ff8811;
  border-radius: 6px;
  height: 36px;
  border: none;
  padding: 0px 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header_container button a {
  color: #fff;
}

.hero_container {
  background-image: url("../assets/hero.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 64px;
  padding-top: 100px;
}

.hero_container .bottomText {
  margin-bottom: 32px;
  line-height: 26px;
}

.hero_container .btn_container a:nth-child(1) button {
  background: #ffffff;
  border-radius: 8px;
  width: 111px;
  height: 44px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.hero_container .btn_container a:nth-child(1) button:hover {
  background: #ebebeb;
}

.hero_container .btn_container a:nth-child(2) button {
  width: 145px;
  height: 44px;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  color: #d1d5db;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.hero_container .btn_container a:nth-child(2) button:hover {
  border: 1px solid #ff8811;
  color: #ff8811;
}

.hero_container h1 {
  font-weight: 800;
  color: #fff;
  font-size: 3rem;
  line-height: 48px;
}

.hero_container img {
  margin: auto;
  max-width: 680px;
}

.threeCards_container {
  background: -webkit-gradient(linear, left bottom, left top, from(#121924), to(rgba(18, 25, 36, 0)));
  background: linear-gradient(360deg, #121924 0%, rgba(18, 25, 36, 0) 100%);
}

.threeCards_container .inner_threeCards_container {
  padding: 96px 0rem 64px 0rem;
}

.services_container {
  padding: 4rem 0rem 5rem 0rem;
}

.services_container .topText {
  margin-bottom: 6px;
}

.services_container ul {
  margin-bottom: 0px;
}

.services_container h1 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 32px;
}

.services_container p {
  line-height: 21px;
}

.services_container button {
  width: 125px;
  height: 44px;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.services_container button:hover {
  border: 1px solid #ff8811;
  color: #ff8811;
}

.services_container img {
  max-width: 680px;
  margin: auto;
}

.services_container .single_service {
  position: relative;
}

.services_container .single_service .icon_para {
  display: none;
}

.services_container .single_service .icon_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services_container .single_service:hover .icon_para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services_container .single_service:hover .icon_title {
  display: none;
}

.services_container .single_service .icon_title,
.services_container .single_service .icon_para {
  padding: 0px 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tablet_img {
  margin-top: -2rem;
}

.tablet_anchor {
  margin-top: -3.5rem;
}

.started_container {
  padding: 40px 0px;
  background: #1f2937;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  max-height: 242px;
  overflow: hidden;
}

.started_container img {
  height: 100%;
}

.started_container .first {
  margin: 40px 0px;
}

.started_container .first h6 {
  color: rgba(255, 255, 255, 0.7);
}

.started_container .first h4 {
  line-height: 30px;
  font-size: 1.875rem;
}

.started_container .first .topText {
  margin-bottom: 10px;
}

.started_container .first .btn_cont {
  margin-top: 32px;
}

.started_container .first .btn_cont button {
  background: #ff8811;
  color: #ffff;
  height: 44px;
  width: 105px;
  border-radius: 6px;
}

.started_container .img_container {
  padding-right: 80px;
}

.started_container .img_container img {
  height: 100%;
}

.footer_container {
  background: #d1d5db;
  margin-top: 56px;
  padding: 40px 0px;
}

.footer_container p {
  color: #6b7280;
}

.footer_container .share_btn {
  margin: 32px 0px 28px 0px;
}

.footer_container ul li {
  margin-left: 32px;
}

.footer_container ul li:nth-child(1) {
  margin-left: 0px;
}

.serviceBanner_container {
  background-image: url("../assets/serviceBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 64px;
  height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serviceBanner_container .innerServiceContainer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.service_body_container {
  margin-top: -4.5rem;
  margin-bottom: 64px;
}

.service_body_container .service_card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  min-height: 1px;
  height: 100%;
}

.service_body_container .service_card .icon {
  position: absolute;
  bottom: -16px;
  left: 24px;
  z-index: 1;
}

.service_body_container .service_card .card_bg_up::after {
  content: "";
  height: 1rem;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0%;
  bottom: -0.8rem;
}

.service_body_container .service_card .card_body {
  background: #ffffff;
  color: #111827;
  padding: 36px 24px 20px 24px;
  border-radius: 0px 0px 16px 16px;
}

.service_body_container .service_card .card_body h1 {
  line-height: 20px;
}

.service_body_container .service_card .card_body p {
  color: #6b7280;
  line-height: 21px;
}

.service_body_container p {
  font-size: 0.8rem;
  line-height: 21px;
}

.support_container {
  margin-top: 59px;
}

.support_container .custom_accordion {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e5e7eb;
  padding: 20px 0px;
}

.support_container .custom_accordion:nth-child(1) {
  border-top: 1px solid #e5e7eb;
}

.support_container h1 {
  font-size: 2rem;
  font-weight: 800;
}

.support_container p {
  font-weight: 400;
  line-height: 26px;
}

.support_container .line {
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  width: 2px;
}

.support_container button {
  border-radius: 8px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.support_container button:hover {
  background: #ebebeb;
}

.support_container .textLink:hover {
  color: #ff8811;
  border: none;
}

.about_banner_container {
  margin-top: 64px;
  background-image: url("../assets/about.png");
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_banner_container .innerAboutContainer {
  max-width: 680px;
}

.about_banner_container .innerAboutContainer h1 {
  line-height: 48px;
}

.about_banner_container .innerAboutContainer h6 {
  line-height: 16px;
}

.about_banner_container .innerAboutContainer p {
  line-height: 26px;
}

.contact_banner_Container {
  background-image: url("../assets/contact/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 64px;
  height: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  margin-bottom: 94px;
}

.contact_container .g-4,
.contact_container .gy-4 {
  --bs-gutter-y: 20px;
}

.contact_container input {
  padding: 0px 15px;
  height: 38px;
  border: 1px solid #d1d5db;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  color: #111827;
}

.contact_container input:focus {
  outline: none;
}

.contact_container label {
  margin-bottom: 2px;
}

.contact_container label span {
  opacity: 0.75;
}

.contact_container button {
  background: #ff8811;
  border-radius: 8px;
  width: 77px;
  height: 44px;
  color: #fff;
  border: none;
}

.contact_container textarea {
  border: 1px solid #d1d5db;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 8px;
  height: 205px;
  padding: 15px;
  resize: none;
}

.contact_container textarea:focus {
  outline: none;
}

.contact_container .login__error__message {
  position: absolute;
  right: 0%;
  font-size: 12px;
  color: #ff3838 !important;
  font-weight: 600;
}

.contact_container textarea + .login__error__message {
  bottom: -12px;
  margin-bottom: 0px;
}

.contact_container .success {
  color: #019761;
}

.contact_container .error_field {
  border: 2px solid #ff3838 !important;
}

.support_banner_Container {
  background-image: url("../assets/support.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 64px;
  height: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question_container {
  background: #f3f4f6;
  height: 258px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

.question_container h3 {
  color: #111827;
  line-height: 28px;
  font-size: 24px;
  font-weight: 900;
}

.question_container p {
  line-height: 26px;
}

.question_container .btn {
  background: #1f2937;
  border-radius: 8px;
  height: 44px;
  width: 112px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;
}

.about_list_container {
  position: relative;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2rem;
}

.about_list_container .row_list {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding: 10px 32px;
}

.about_body_container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.about_body_container .border_right {
  border-left: 1px solid #e5e7eb;
  padding-left: 2.2rem;
}

.about_body_container p {
  line-height: 21px;
}

.technical_assistance_container {
  background: #f3f4f6;
  padding-top: 64px;
  padding-bottom: 56px;
}

.technical_assistance_container .inner_technical_assistance_container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.technical_assistance_container .inner_technical_assistance_container .single_cta_container {
  min-height: 102px;
  background: #1f2937;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding: 24px 0px;
  width: 100%;
}

.technical_assistance_container .text_head {
  margin-bottom: 48px;
}

.technical_assistance_container .text_head a {
  color: #1676be;
}

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
  margin-top: 64px;
  position: fixed;
  right: 0%;
  left: 0%;
  bottom: 0%;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#121924), color-stop(700%, rgba(18, 25, 36, 0)));
  background: linear-gradient(180deg, #121924 0%, rgba(18, 25, 36, 0) 700%);
  height: 100vh;
  z-index: 2;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.SideBarContainer .logo {
  position: absolute;
  top: 1%;
  left: 3%;
}

.SideBarContainer .logo img {
  width: 120px;
}

.SideBarContainer .get_started button {
  background: #ff8811;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  height: 36px;
  width: 120px;
  border: none;
}

.SideBarContainer ul {
  margin-top: 56px;
  padding-left: 0rem;
  margin-bottom: 0px;
}

.SideBarContainer ul li {
  margin-bottom: 32px;
  position: relative;
  list-style: none;
  cursor: pointer;
  text-align: center;
}

.SideBarContainer ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  font-size: 14px;
}

.SideBarContainer ul li .activeNav::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background-color: #007bbc;
  border-radius: 5px;
}

.CrossBTn {
  position: absolute;
  top: 7%;
  right: 6.5%;
  cursor: pointer;
  height: 25px;
}

/* ==================== SideBAR STYLING END ======================== */
.stack_competition_container {
  width: 100%;
  margin-bottom: 56px;
  padding: 80px 0px;
  background: #f3f4f6;
}

.stack_competition_container .table_container {
  margin-top: 40px;
}

.stack_competition_container .table_container .left_side div {
  color: #374151;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #e5e7eb;
  padding: 1.219rem 0rem;
}

.stack_competition_container .table_container .left_side div:nth-last-child(1) {
  border-bottom: none;
}

.stack_competition_container .table_container .right_side_head {
  background: #fff;
  border-radius: 16px 16px 0px 0px;
}

.stack_competition_container .table_container .right_side_head div {
  color: #111827;
  font-size: 14px;
  font-weight: 500;
  padding: 1.219rem 0rem;
}

.stack_competition_container .table_container .right_side_head div img {
  max-width: 90px;
  margin-left: auto;
  margin-right: auto;
}

.stack_competition_container .table_container .right_side_body {
  -webkit-box-shadow: 0px -1px -1px rgba(0, 0, 0, 0.1), 0px -1px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px -1px -1px rgba(0, 0, 0, 0.1), 0px -1px -1px rgba(0, 0, 0, 0.06);
}

.stack_competition_container .table_container .right_side_body div {
  padding: 1.12rem 0rem;
}

.stack_competition_container .table_container .right_side_body div img {
  height: 16px;
  width: 16px;
}

.stack_competition_container .table_container .right_side_body:nth-last-child(1) div:nth-last-child(1) {
  border-radius: 0px 0px 16px 0px;
}

.stack_competition_container .table_container .right_side_body:nth-last-child(1) div:nth-last-child(3) {
  border-radius: 0px 0px 0px 16px;
}

.stack_up_slider_container {
  margin-top: 40px;
}

.stack_up_slider_container .slider_single {
  padding: 1rem 1.5rem;
}

.stack_up_slider_container .slider_single .head_text {
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  font-weight: 400;
}

.stack_up_slider_container .single_table_inner_head {
  padding: 0px 0px 0px 12px;
}

.stack_up_slider_container .single_table_inner_head img {
  padding: 20px 0px;
}

.stack_up_slider_container .single_table_inner .single_table_inner_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.stack_up_slider_container .single_table_inner .single_table_inner_body div {
  width: 60px;
}

.stack_up_slider_container .slick-dots {
  bottom: -10px;
}

.stack_up_slider_container .slick-dots li {
  width: 5px;
  height: 5px;
}

.stack_up_slider_container .slick-dots li.slick-active button:before {
  color: #9ca3af;
}

.stack_up_slider_container .slick-dots li button:before {
  color: #adadad;
  font-size: 10px;
}

.stack_up_slider_container .slick-arrow.slick-next {
  display: none !important;
}

@media screen and (min-width: 575px) {
  .about_list {
    margin-left: -15px;
  }
}

@media screen and (min-width: 1500px) {
  .page_container {
    max-width: 1376px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 998px) {
  .hero_container {
    padding-top: 133px;
  }
  .support_container p {
    font-weight: 400;
  }
  .innerServiceContainer h1 {
    font-size: 1.8rem;
  }
  .serviceBanner_container .innerServiceContainer p {
    font-size: 0.9rem;
    line-height: 22px;
  }
  .serviceBanner_container .innerServiceContainer .cont:nth-child(2) {
    width: 100%;
  }
  .support_container a {
    width: 100%;
  }
  .support_container button {
    width: 100%;
  }
  .started_container .first {
    width: 60%;
  }
  .innerServiceContainer h1 {
    font-size: 3rem;
  }
  .about_head {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .header_container {
    height: 64px;
  }
  .hero_container {
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-top: 64px;
  }
  .hero_container h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
  }
  .started_container {
    height: 100%;
  }
  .started_container .first {
    margin: 0px 0px;
    padding: 40px 48px;
  }
  .started_container .first button {
    width: 100%;
  }
  .serviceBanner_container .responsive_image {
    margin: -4rem 0rem -6rem 0rem;
  }
  .support_container {
    height: 100%;
  }
  .contact_container a {
    width: 100%;
  }
  .services_container {
    padding: 4rem 0rem 56px 0rem;
  }
  .services_container p {
    font-size: 14px;
    font-weight: 400;
  }
  .contact_container {
    height: 100%;
  }
  .contact_container .mtContact:nth-child(1) {
    margin-top: 20px;
  }
  .contact_container .mtContact:nth-child(2) {
    margin-top: 20px;
  }
  .footer_container ul li {
    margin-left: 28px;
  }
  .started_container {
    position: relative;
  }
  .started_container img {
    position: absolute;
    top: 0%;
    right: -15%;
    min-height: 240px;
  }
  .started_container .first {
    width: 70%;
  }
  .support_banner_Container .innerServiceContainer h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 900;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .support_banner_Container .innerServiceContainer p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .serviceBanner_container .innerServiceContainer p {
    font-size: 16px;
    line-height: 26px;
    color: #d1d5db;
    font-weight: 400;
  }
  .about_head {
    font-size: 1.6rem;
  }
  .about_body_container .upPara {
    font-size: 0.875rem;
  }
  .btn_cont_submit {
    width: 100%;
  }
  .about_list_container {
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
  }
  .about_body_container {
    margin-top: 64px;
  }
  .about_body_container .border_right {
    padding-left: 12px;
    border-left: none;
    border-top: 1px solid #e5e7eb;
    margin-top: 40px;
    padding-top: 40px;
  }
  .stack_competition_container .single_table_tablet {
    margin-top: 40px;
  }
  .stack_competition_container .single_table_tablet .head_text {
    color: #374151;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .stack_competition_container .single_table_inner {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    background: #ffffff;
    border-radius: 16px;
  }
  .stack_competition_container .single_table_inner .single_table_inner_head img {
    max-width: 108px;
    width: 100%;
  }
  .stack_competition_container .single_table_inner .single_table_inner_head div p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111827;
    padding: 20px 0px;
  }
  .stack_competition_container .single_table_inner .single_table_inner_body div {
    padding: 20px 0px;
  }
  .stack_competition_container .single_table_inner .single_table_inner_body div:nth-child(1) {
    border-radius: 0px 0px 0px 16px;
  }
  .stack_competition_container .single_table_inner .single_table_inner_body div:nth-last-child(1) {
    border-radius: 0px 0px 16px 0px;
  }
  .stack_competition_container .single_table_inner .single_table_inner_body img {
    height: 20px;
    width: 20px;
  }
  .support_container .support_inner {
    padding: 0px 32px;
  }
}

@media screen and (max-width: 668px) {
  .started_container .first {
    width: 64%;
  }
  .started_container .first {
    width: 60%;
  }
  .started_container img {
    position: absolute;
    top: -19%;
    right: -28%;
    height: 350px;
  }
}

@media screen and (max-width: 575px) {
  .hero_container h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .hero_container .btn_container {
    padding: 0px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
  .header_container {
    height: 64px;
  }
  .started_container .first {
    padding: 32px 24px;
  }
  .started_container .first .h4 {
    font-size: 30px;
    line-height: 30px;
  }
  .services_container button {
    width: 100%;
  }
  .started_container .first .btn_cont button {
    width: 100%;
  }
  .innerServiceContainer h1 {
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
  }
  .service_body_container .service_card .card_bg {
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 16px 16px 0px 0px;
  }
  .service_body_container .service_card .card_body p {
    font-size: 14px;
  }
  .support_banner_Container .innerServiceContainer h1,
  .support_banner_Container .innerServiceContainer p {
    width: 100%;
  }
  .support_banner_Container {
    background-size: cover;
  }
  .support_container .support_inner {
    padding: 0px 16px;
  }
  .about_banner_container .innerAboutContainer h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .about_banner_container {
    height: 620px;
    background-size: cover;
  }
  .about_banner_container .innerAboutContainer {
    padding-top: 100px;
    padding-bottom: 198px;
  }
  .about_list_container {
    margin-top: -8rem;
  }
  .about_list_container .row_list {
    padding: 4px 24px;
  }
  .single_about_list {
    padding: 16px 0px;
    border-bottom: 1px solid #e5e7eb;
  }
  .single_about_list:nth-last-child(1) {
    border-bottom: none;
  }
  .contact_banner_Container {
    height: 320px;
    background-size: cover;
  }
  .contact_container textarea {
    height: 331px;
  }
  .contact_container label {
    font-size: 14px;
  }
  .technical_assistance_container
.inner_technical_assistance_container
.single_cta_container {
    padding: 18px 0px;
  }
  .serviceBanner_container {
    height: 514px;
  }
  .service_body_container {
    margin-top: -5.5rem;
  }
  .stack_competition_container
.single_table_inner
.single_table_inner_head
img {
    max-width: 83.2px;
  }
  .stack_competition_container
.single_table_inner
.single_table_inner_body
div:nth-child(1) {
    border-radius: 0px 16px 0px 0px;
  }
  .services_container .single_service:hover .icon_para {
    display: none;
  }
  .services_container .single_service:hover .icon_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .stack_up_slider_container .single_table_inner_mobile.row_ {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-top: 0px;
  }
  .stack_up_slider_container .single_table_inner_mobile.row_ > * {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: 0px;
  }
  .stack_up_slider_container .single_table_inner_mobile.row_ .col_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 80%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .stack_up_slider_container .single_table_inner_mobile.row_ .col_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
}
/*# sourceMappingURL=style.css.map */