@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
  background: #161e2d;
  width: 100%;
  background-repeat: no-repeat;
}

html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  background: #161e2d;
  scroll-behavior: auto !important;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 98%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 96%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 100%;
  }
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.f500 {
  font-weight: 500;
}

.textColor {
  color: #e5e7eb;
}

.textColor2 {
  color: #d1d5db;
}

.f500 {
  font-weight: 500;
}

.f600 {
  font-weight: 600;
}

.f800 {
  font-weight: 800;
}

.themeBlue {
  color: #01b0f9;
}

.f14 {
  font-size: 0.875rem;
}

.f48 {
  font-size: 3rem;
}

.mb6 {
  margin-bottom: 6px;
}

hr {
  color: #374151;
  padding: 1px;
}

.redColor {
  color: #ff5555;
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

a:hover,
a:hover {
  color: #e5e7eb;
}

.header_container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: #161e2d;
  width: 100%;
  height: 72px;
  border-bottom: 3px solid #01b0f9;
  z-index: 10;
}

.header_container ul li {
  font-size: 0.875rem;
  line-height: 17px;
  margin: 0px 12px;
}

.header_container ul li a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header_container ul li a:hover {
  color: #01b0f9;
}

.header_container ul .line {
  padding: 1px;
  background: #374151;
  height: 22px;
}

.hero_container {
  padding-top: 169px;
}

.hero_container .bottomText {
  margin-bottom: 32px;
  line-height: 26px;
}

.hero_container .btn_container a:nth-child(1) button {
  background: #ffffff;
  border-radius: 8px;
  width: 111px;
  height: 44px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.hero_container .btn_container a:nth-child(1) button:hover {
  background: #ebebeb;
}

.hero_container .btn_container a:nth-child(2) button {
  width: 145px;
  height: 44px;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  color: #d1d5db;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.hero_container .btn_container a:nth-child(2) button:hover {
  border: 1px solid #01b0f9;
  color: #01b0f9;
}

.hero_container h1 {
  font-weight: 800;
  color: #fff;
  font-size: 3rem;
  line-height: 48px;
}

.hero_container img {
  margin: auto;
  max-width: 680px;
}

.threeCards_container {
  padding: 96px 0rem 58px 0rem;
}

.services_container {
  padding: 4rem 0rem 5rem 0rem;
}

.services_container ul {
  margin-bottom: 0px;
}

.services_container h1 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 32px;
}

.services_container p {
  line-height: 21px;
}

.services_container button {
  width: 125px;
  height: 44px;
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.services_container button:hover {
  border: 1px solid #01b0f9;
  color: #01b0f9;
}

.services_container img {
  max-width: 680px;
  margin: auto;
}

.tablet_img {
  margin-top: -2rem;
}

.tablet_anchor {
  margin-top: -3.5rem;
}

.started_container {
  background: -webkit-gradient(linear, left top, left bottom, from(#01b0f9), to(#1957c8));
  background: linear-gradient(180deg, #01b0f9 0%, #1957c8 100%);
  -webkit-box-shadow: 0px 0px 60px 20px rgba(1, 176, 249, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 60px 20px rgba(1, 176, 249, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  height: 232px;
  overflow: hidden;
}

.started_container img {
  height: 100%;
}

.started_container .first {
  margin: 40px 0px;
}

.started_container .first h6 {
  color: rgba(255, 255, 255, 0.7);
}

.started_container .first h4 {
  line-height: 30px;
  font-size: 1.875rem;
}

.started_container .first .topText {
  margin-bottom: 10px;
}

.started_container .first .btn_cont {
  margin-top: 32px;
}

.started_container .first .btn_cont button {
  height: 44px;
  width: 105px;
}

.started_container .first button {
  background: #ffff;
  border-radius: 6px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.started_container .first button:hover {
  background: #ebebeb;
}

.footer_container {
  margin-top: 56px;
}

.footer_container p {
  color: #6b7280;
}

.footer_container .share_btn {
  margin: 32px 0px 28px 0px;
}

.footer_container ul li {
  margin-left: 32px;
}

.footer_container ul li:nth-child(1) {
  margin-left: 0px;
}

.serviceBanner_container {
  margin-top: 7rem;
}

.serviceBanner_container .innerServiceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.serviceBanner_container .innerServiceContainer .cont:nth-child(1) {
  width: 27.5%;
}

.serviceBanner_container .innerServiceContainer .cont:nth-child(2) {
  width: 45%;
}

.serviceBanner_container .innerServiceContainer .cont:nth-child(3) {
  width: 27.5%;
}

.serviceBanner_container .innerServiceContainer h2 {
  line-height: 48px;
}

.serviceBanner_container .innerServiceContainer p {
  line-height: 24px;
  font-size: 0.9rem;
}

.service_body_container {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.service_body_container p {
  font-size: 0.8rem;
  line-height: 21px;
}

.support_container {
  margin-bottom: 56px;
  margin-top: 10rem;
}

.support_container h1 {
  font-size: 2rem;
  font-weight: 800;
}

.support_container p {
  font-weight: 500;
  line-height: 26px;
}

.support_container p a {
  color: #01b0f9;
  border: none;
  background: transparent;
}

.support_container .line {
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  width: 2px;
}

.support_container a {
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.support_container a:hover {
  border: 1px solid #01b0f9;
  color: #01b0f9;
}

.support_container button {
  border-radius: 8px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.support_container button:hover {
  background: #ebebeb;
}

.support_container .textLink:hover {
  color: #01b0f9;
  border: none;
}

.about_body_container {
  margin-top: 8rem;
}

.about_body_container .btns {
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  height: 44px;
}

.about_body_container .upPara {
  line-height: 26px;
}

.about_body_container .downPara {
  line-height: 21px;
}

.about_body_container .bottomCont h6 {
  line-height: 20px;
}

.about_body_container h5 {
  line-height: 32px;
}

.about_body_container .iconText {
  margin-left: 12px;
}

.about_body_container .oMission {
  margin-bottom: 6px;
}

.contact_container {
  margin-top: 9rem;
  margin-bottom: 56px;
}

.contact_container h1 {
  font-size: 2rem;
}

.contact_container p {
  line-height: 26px;
}

.contact_container p a {
  color: #01b0f9;
  border: none;
  background: transparent;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.contact_container p a:hover {
  background: #ebebeb;
  border: none;
}

.contact_container p .textLink:hover {
  color: #01b0f9;
  background-color: transparent;
  border: none;
}

.contact_container .line {
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  width: 1px;
}

.contact_container a {
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.contact_container a:hover {
  border: 1px solid #01b0f9;
  color: #01b0f9;
}

.contact_container button {
  border-radius: 8px;
  height: 44px;
}

.contact_container .form_container input {
  height: 38px;
}

.contact_container .form_container input,
.contact_container .form_container textarea {
  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  color: #d1d5db;
  font-size: 14px;
  padding: 0px 12px;
}

.contact_container .form_container input:focus,
.contact_container .form_container textarea:focus {
  outline: none;
}

.contact_container .form_container textarea {
  resize: none;
  padding: 12px;
  height: 185px;
}

.contact_container .form_container textarea:focus {
  outline: none;
}

.contact_container .mtContact {
  margin-top: 20px;
}

.contact_container .mtContact:nth-child(1) {
  margin-top: 0px;
}

.contact_container .mtContact:nth-child(2) {
  margin-top: 0px;
}

.contact_container input::-webkit-outer-spin-button,
.contact_container input::-webkit-inner-spin-button {
  display: none;
}

@media screen and (min-width: 575px) {
  .about_list {
    margin-left: -15px;
  }
}

@media screen and (min-width: 1500px) {
  .page_container {
    max-width: 1376px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 998px) {
  .hero_container {
    padding-top: 133px;
  }
  .support_container p {
    font-weight: 400;
  }
  .serviceBanner_container {
    margin-top: 7rem;
  }
  .innerServiceContainer h1 {
    font-size: 1.8rem;
  }
  .serviceBanner_container .innerServiceContainer p {
    font-size: 0.9rem;
    line-height: 22px;
  }
  .serviceBanner_container .innerServiceContainer .cont:nth-child(2) {
    width: 100%;
  }
  .serviceBanner_container {
    margin-top: 9rem;
  }
  .support_container a {
    width: 100%;
  }
  .support_container button {
    width: 100%;
  }
  .support_container {
    margin-top: 133px;
  }
  .started_container .first {
    width: 60%;
  }
  .innerServiceContainer h1 {
    font-size: 3rem;
  }
  .about_head {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .header_container {
    height: 72px;
  }
  .hero_container {
    padding-top: 133px;
  }
  .hero_container h1 {
    font-size: 1.875rem;
    line-height: 30px;
  }
  .started_container {
    height: 100%;
  }
  .started_container .first {
    margin: 0px 0px;
  }
  .started_container .first button {
    width: 100%;
  }
  .serviceBanner_container .responsive_image {
    margin: -4rem 0rem -6rem 0rem;
  }
  .support_container {
    height: 100%;
  }
  .contact_container a {
    width: 100%;
  }
  .threeCards_container {
    padding: 12px 0rem 58px 0rem;
  }
  .services_container {
    padding: 4rem 0rem 56px 0rem;
  }
  .contact_container {
    height: 100%;
  }
  .contact_container .mtContact:nth-child(1) {
    margin-top: 20px;
  }
  .contact_container .mtContact:nth-child(2) {
    margin-top: 20px;
  }
  .header_container ul li {
    margin: 0px 10px;
  }
  .footer_container ul li {
    margin-left: 28px;
  }
  .started_container {
    position: relative;
  }
  .started_container img {
    position: absolute;
    top: -25%;
    right: -22%;
    height: 323px;
  }
  .started_container .first {
    width: 70%;
  }
  .innerServiceContainer h1 {
    font-size: 1.6rem;
  }
  .about_head {
    font-size: 1.6rem;
  }
  .about_body_container .upPara {
    font-size: 0.875rem;
  }
  .btn_cont_submit {
    width: 100%;
  }
  .contact_container button {
    width: 100% !important;
  }
}

@media screen and (max-width: 668px) {
  .started_container .first {
    width: 64%;
  }
}

@media screen and (max-width: 668px) {
  .started_container .first {
    width: 60%;
  }
  .started_container img {
    position: absolute;
    top: -19%;
    right: -28%;
    height: 350px;
  }
}

@media screen and (max-width: 575px) {
  .support_container {
    margin-top: 154px;
  }
  .hero_container {
    padding-top: 154px;
  }
  .hero_container .btn_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero_container .btn_container a:nth-child(1) button,
  .hero_container .btn_container a:nth-child(2) button {
    width: 100%;
  }
  .hero_container .btn_container a:nth-child(2) button {
    margin-top: 12px;
  }
  .header_container {
    height: 95px;
  }
  .services_container button {
    width: 100%;
  }
  .started_container .first .btn_cont button {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */