@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

// GLOBAL CLASSES START
$themeColor: #161e2d;
$themeColor2: #1f2937;
$themeColor3: #01b0f9;
$textColor: #e5e7eb;
$textColor2: #d1d5db;
$hrColor: #374151;
// GLOBAL CLASSES START

// GLOBAL CLASSES START
body {
	overflow-x: hidden;
	background: linear-gradient(180deg, #1f2937 0%, #111827 100%);
	width: 100%;
	background-repeat: no-repeat;
}
html {
	width: 100%;
	font-size: 100%;
	overflow-x: hidden;
	// scroll-behavior: auto !important;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 92%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 86%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 100%;
	}
}

.page_container {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

.f500 {
	font-weight: 500;
}

.textColor {
	color: $textColor;
}

.textColor2 {
	color: $textColor2;
}

.f600 {
	font-weight: 600;
}

.f800 {
	font-weight: 800;
}

.themeBlue {
	color: $themeColor3;
}

.f14 {
	font-size: 0.875rem;
}

.f48 {
	font-size: 3rem;
}

hr {
	color: $hrColor;
	padding: 1px;
}

a:hover,
a:hover {
	color: $textColor;
}

// HEADER START
.header_container {
	position: fixed;
	top: 0%;
	left: 0%;
	background: $themeColor;
	width: 100%;
	height: 72px;
	border-bottom: 2px solid $themeColor3;
	border-top: 1px solid $themeColor3;
	z-index: 10;

	ul {
		li {
			font-size: 0.875rem;
			line-height: 17px;
			padding: 0px 18px;

			a {
				transition: 0.6s;
			}
			a:hover {
				color: $themeColor3;
			}
		}
		.line {
			padding: 1px;
			background: #374151;
			height: 22px;
		}
	}
}
// HEADER END

// HERO START
.hero_container {
	padding-top: 10rem;

	.btn_container {
		button:nth-child(1) {
			background: #ffffff;
			border-radius: 8px;
			width: 111px;
			height: 44px;
		}
		button:nth-child(2) {
			width: 145px;
			height: 44px;
			background: #1f2937;
			border: 1px solid #374151;
			border-radius: 8px;
			color: $textColor2;
		}
	}

	h1 {
		font-weight: 800;
		color: #fff;
		font-size: 3rem;
		line-height: 48px;
	}
}
// HERO END

// THREE CARDS START
.threeCards_container {
	padding: 4rem 0rem 3rem 0rem;
}
// THREE CARDS END

// SERVICES START
.services_container {
	padding: 4rem 0rem 5rem 0rem;

	ul {
		margin-bottom: 0px;
	}

	h1 {
		font-weight: 800;
		font-size: 1.5rem;
		line-height: 32px;
	}

	p {
		line-height: 21px;
	}

	button {
		width: 125px;
		height: 44px;
		background: #1f2937;
		border: 1px solid #374151;
		border-radius: 8px;
	}
}
// SERVICES END

// STARTED START
.started_container {
	background: linear-gradient(180deg, #01b0f9 0%, #1957c8 100%);
	box-shadow: 0px 0px 60px 20px rgba(1, 176, 249, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
	height: 200px;
	overflow: hidden;

	img {
		height: 100%;
	}

	.first {
		h6 {
			color: rgba(255, 255, 255, 0.7);
		}
		h4 {
			line-height: 30px;
			font-size: 1.875rem;
		}
		button {
			border-radius: 6px;
		}
	}
}
// STARTED END

// FOOTER START
.footer_container {
	margin-top: 4rem;

	p {
		color: #6b7280;
	}
}
// FOOTER END

// SERVICE BANNER START
.serviceBanner_container {
	margin-top: 5rem;

	.innerServiceContainer {
		display: flex;
		align-items: center;
		width: 100%;

		.cont:nth-child(1) {
			width: 27.5%;
		}
		.cont:nth-child(2) {
			width: 45%;
		}
		.cont:nth-child(3) {
			width: 27.5%;
		}

		h2 {
			line-height: 48px;
		}

		p {
			line-height: 24px;
			font-size: 0.9rem;
		}
	}
}
// SERVICE BANNER END

// SERVICE BODY START
.service_body_container {
	margin-top: 4rem;
	margin-bottom: 5rem;

	p {
		font-size: 0.8rem;
		line-height: 21px;
	}
}
// SERVICE BODY END

// SUPPORT BODY START
.support_container {
	height: calc(100vh - 160px);
	margin-top: 10rem;

	h1 {
		font-size: 2rem;
	}

	p {
		line-height: 26px;

		a {
			color: $themeColor3;
			border: none;
			background: transparent;
		}
	}

	.line {
		height: 100%;
		background: rgba(255, 255, 255, 0.1);
		width: 2px;
	}

	a {
		background: #1f2937;
		border: 1px solid #374151;
		border-radius: 8px;

		&:hover {
			color: #01b0f9;
		}
	}

	button {
		border-radius: 8px;
	}
}
// SUPPORT BODY END

// ABOUT BODY START
.about_body_container {
	margin-top: 8rem;

	.btns {
		background: #1f2937;
		border: 1px solid #374151;
		border-radius: 8px;
	}

	.upPara {
		line-height: 26px;
	}
	.downPara {
		line-height: 21px;
	}
	.bottomCont {
		h6 {
			line-height: 20px;
		}
	}

	h5 {
		line-height: 32px;
	}
}
// ABOUT BODY END

// MEDIA QUERIES START
@media screen and (max-width: 998px) {
	.serviceBanner_container {
		margin-top: 7rem;
	}
	.innerServiceContainer {
		h1 {
			font-size: 1.8rem;
		}
	}
	.serviceBanner_container .innerServiceContainer p {
		font-size: 0.9rem;
		line-height: 22px;
	}
	.serviceBanner_container .innerServiceContainer .cont:nth-child(2) {
		width: 100%;
	}
	.serviceBanner_container {
		margin-top: 9rem;
	}
}
@media screen and (max-width: 768px) {
	.header_container {
		height: 95px;
	}
	.hero_container {
		padding-top: 9rem;

		h1 {
			font-size: 1.875rem;
			line-height: 30px;
		}

		.bottomText {
			line-height: 26px;
		}

		.btn_container button:nth-child(1) {
			width: 100%;
		}

		.btn_container button:nth-child(2) {
			width: 100%;
		}
	}
	.services_container button {
		width: 100%;
	}
	.started_container {
		height: 100%;
	}
	.started_container .first button {
		width: 100%;
	}
	.serviceBanner_container {
		.responsive_image {
			margin: -4rem 0rem -6rem 0rem;
		}
	}
	.support_container a {
		width: 100%;
	}
	.support_container {
		height: 100%;

		button {
			width: 100%;
		}
	}
}
@media screen and (max-width: 575px) {
}
// MEDIA QUERIES END
